<style>
hexagon {
    MaximumWidth: 150;
    BackGroundColor: white ;
    LineThickness: 2;
    LineColor: #381885; 
    HorizontalAlignment: center;
}
rectangle {
    MaximumWidth: 250;
    HorizontalAlignment: center;
}
</style>